/* GENERALI */
@font-face {
    font-family: "first-font";
    src: url("../fonts/ufonts.com_tw-cen-mt.ttf");
}

/* FONT FAMILY  */
body {
    font-family: "first-font";
}

/* DIMENSIONE BASE SECTIONS  */
section {
    width: 100%;
}

/* DIMENSIONE BASE DIV  */
div, nav {
    width: 92%;
    max-width: 1170px;
    margin: 0 auto;
}

/* TITOLI  */
h1,
h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

h1 span,
h2 span {
    font-size: 3rem;
    font-weight: 600;
}

h3 {
    font-weight: 600;
}

/* SPAN  */
span {
    color: #ff530a;
}