/* SECTION BLOG  */

#section-blog {
    background-image: url('../images/overlay-pattern2.png'), url('../images/blog/blog-bg.jpg');
    text-align: center;
    background-attachment: fixed;
    padding-bottom: 100px;
}

#section-blog h1 {
    color: white;
    font-size: 1.4rem;
    padding-top: 110px;
    padding-bottom: 35px;
}

#section-blog span {
    font-size: 1.7rem;
}

#section-blog hr {
    width: 40%;
    margin-bottom: 30px;
    margin-top: 20px;
}

#section-blog p {
    margin-bottom: 20px;
    font-weight: 100;
    color: grey;
    font-size: 15px;
}

.flex-box {
    background-color: white;
    padding-bottom: 10px;
}

.flex-box img {
    width: 100%;
}

.flex-box h3 {
    font-size: 1.3rem;
    font-weight: 200;
    margin-top: 0;
}

#tophtre {
    margin-top: 40px;
}

.box-description {
    width: 100%;
    background-color: white;
}

.box-description h3:nth-of-type(1) {
    margin-top: 20px;
}

.section-blog-button {
    margin-top: 50px;

    background-color: #ff530a;

    padding: 30px;
}


/* SEI RIMASTO QUI  */
/* SEI RIMASTO QUI  */
/* SEI RIMASTO QUI BUTTON */


.section-blog-button a {
    color: white;
    text-decoration: none;

}